@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<h2>Choose Role</h2>
<table class="table">
    <thead>
    <tr>
        <th>Name Role</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <a href="@Url.Action("UsersByRole", "UserManagement", new { roleName = role.Name })" class="btn btn-primary">View list of users</a>
            </td>
        </tr>
    }
    </tbody>
</table>