@{
    ViewBag.Title = "Thay đổi mật khẩu";
}

<h2>Reset password for user: @ViewBag.UserName</h2>

<form asp-action="UpdatePassword" method="post">
    <input type="hidden" name="userId" value="@ViewBag.UserId" />
    <input type="hidden" name="roleName" value="@ViewBag.RoleName" />

    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="password" name="newPassword" class="form-control" id="newPassword" required />
    </div>

    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" name="confirmPassword" class="form-control" id="confirmPassword" required />
    </div>

    <button type="submit" class="btn btn-success">Save</button>
</form>
<a asp-action="UsersByRole" asp-controller="UserManagement" asp-route-roleName="@ViewBag.RoleName" class="btn btn-secondary">Back</a>