@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>

<h2>List of users in the role: @ViewBag.RoleName</h2>

@if (Model.Any())
{
    <table class="table">
        <thead>
        <tr>
            
            <th>Email</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Model)
        {
            <tr>
                
                <td>@user.Email</td>
                <td>
                    <a href="@Url.Action("UpdatePassword", "UserManagement", new { userId = user.Id, roleName = ViewBag.RoleName })" class="btn btn-warning">Reset Password</a>
                </td>
                
            </tr>
        }
        </tbody>
    </table>
    <a asp-action="SelectRole" asp-controller="UserManagement" class="btn btn-secondary">Back</a>
}
else
{
    <p>Không có người dùng nào trong vai trò này.</p>
}