@{
ViewData["Title"] = "Customer Dashboard";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Customer Dashboard</h2>

    <div class="row justify-content-center">

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card shadow-lg border-light rounded">
                <div class="card-body text-center">
                    <h5 class="card-title">Information</h5>
                    <p class="card-text">Show Information</p>
                    <a asp-action="Show" asp-controller="Information" asp-area="Customer" class="btn btn-primary btn-lg">Information</a>
                </div>
            </div>
        </div>


        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card shadow-lg border-light rounded">
                <div class="card-body text-center">
                    <h5 class="card-title">Job</h5>
                    <p class="card-text">Show, detail, Apply Job.</p>
                    <a asp-action="GetListJob" asp-controller="Job" asp-area="Customer" class="btn btn-success btn-lg">Job</a>
                </div>
            </div>
        </div>


        
    </div>
</div>


<style>
    .card {
        transition: transform 0.3s ease-in-out;
    }
    .card:hover {
        transform: translateY(-10px);
    }
    .btn-lg {
        font-size: 1.2rem;
        padding: 10px 20px;
    }
    .card-body {
        background-color: #f9f9f9;
    }
</style>
