@model Job_Web.Models.JobCategory

<h2>New JobCategory</h2>
<form asp-action="Create">
    <div class="form-group">
        <label for="profession">Name Profession</label>
        <input asp-for="Profession" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Description">Description</label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>